name: Package and release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6

      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v3
        with:
          release_notes_file: RELEASE_NOTES.md

      - name: Package and release
        uses: BigWigsMods/packager@v2
        if: success() && startsWith(github.ref, 'refs/tags/v') && github.event_name != 'pull_request'
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          WOWI_API_TOKEN: ${{ secrets.WOWI_API_TOKEN }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
